body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292b2c;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --p1Color: #5bc0de;
  --p2Color: #d9534f;
}

.App {
  margin-top: 10%;
}

#rollResults, #effectText {
  /* width: 30%;
  left: 50%;
  top: 50%; */
}

@keyframes fadeout {
  from {opacity: 1; }
  to {opacity: 0;}
}

/* TODO: change colors of buttons to indicate a need to click, and position rollText in upper center*/
#rulesBtn {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

#rulesPage {
  position: absolute;
  top: 15px;
}
li {
  list-style-type: none;
}

.fadeout {
  animation: fadeout 4s;
}

#rollText{
  margin-right: 33%;
  visibility: hidden;
  opacity: 0;
}


#dice {
  position: relative;
  margin-left: 35%;
}


#roll.btn {
  position: absolute;
  margin-left: 33%;
}

#finishTurn{
  position: absolute;
  margin-top: 55px;
  margin-left: 33%;
}


#exitGame {
  position: fixed;
  margin-top: 200px;
  margin-left: 33%;
  width: 10%;
  padding: 10px;
}

#player1container {
 float: left;
 margin: 30px;
}

#player2container {
float: right;
margin: 30px;

}

h3 {
  margin-left: 75px;;
}

h4{
  margin-left: 100px;
}

#welcome {
  margin-left: 33%;
}

#root, #homepage, #signup, #login {
  display: inline;
  color:white;
  margin: auto;
  padding: 10px;
}

#loginInputs, #signupInputs {
  margin-left: 40%;
}

input {
  margin: 10px;
  border-radius: 4px;
}
input, select, textarea {
  color: #292b2c;
}

.btn {
  width: 10%;
  margin: 10px;
  margin-left: 43%;
}


span {
  display: inline;
  color: #FFFF9e;
  width: 50%;
}

.dieP1 {
  border: solid 3px var(--p1Color);
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: var(--p1Color);
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

.dieP2 {
  border: solid 3px var(--p2Color);
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: var(--p2Color);
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

.die-clicked {
  border: solid 3px #f1f1d2;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #f5b9a8;
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

.dieP1:active {
  background-color: #f1f1d2;
}

.dieP2:active {
  background-color: #f1f1d2 ;
}

.player#P1 {
  color: var(--p1Color);
}

.player#P2 {
  color: var(--p2Color);
}

#leaderBoard {
 color:white;
 transform: translate(0,-100px);
}

#ranksLabel {
  margin-left: 38%;
  margin-bottom: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 23%;
}

td, th {
  border: 1px solid #dddddd;
  color: white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:grey;
}
